
@{
    ViewData["Title"] = "Bibliothéque";
}

<h2>@ViewBag.Title</h2>
<p>
    Beaucoup de cas d’héritage à solution consensuelle sont stockées dans la bibliothèque.
    Pour afficher un ou plusieurs cas en gros plan, veuillez renseigner une partie du nom du cas dans la zone Rechercher puis clique sur le lien Détails du cas.
</p>
@using (Html.BeginForm())
{
    <p>
        Trouver un nom: @Html.TextBox("SearchString")
        <input type="submit" value="Rechercher " />
    </p>
}

<table>
    <tr>
