@model HeritageProjectGrp6.Models.BIENS

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/login.css" rel="stylesheet" type="text/css" />
    <script src="~/js/site.js"></script>
</head>
<body style="background-color:cadetblue;">
    
    <div class="row">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <h3>Ajouter Un Bien</h3>

                <div class="row">

                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        
                        <div class="form-group">
                            <label asp-for="DESCRIPTION" class="control-label"></label>
                            <input asp-for="DESCRIPTION" class="form-control" />
                            <span asp-validation-for="DESCRIPTION" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EVALUATEUR" class="control-label"></label>
                            <input asp-for="EVALUATEUR" class="form-control" />
                            <span asp-validation-for="EVALUATEUR" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AFFECTATION" class="control-label"></label>
                            <input asp-for="AFFECTATION" class="form-control" />
                            <span asp-validation-for="AFFECTATION" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Ajouter" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
</body>
</html>