@model HeritageProjectGrp6.Models.UTILISATEUR


<!DOCTYPE html>
<html>
<head>
    <link href="~/css/login.css" rel="stylesheet" type="text/css" />
    <script src="~/js/site.js"></script>
</head>
<body style="background-color:cadetblue;">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img style="width:150px;" src="~/images/create.png" id="icon" alt="User Icon" />
            </div>
            <!-- Login Form -->

            <form asp-action="Create">


                <input asp-for="DESIGNATION" id="designation" class="fadeIn second" name="designation" placeholder="Designation">
                <span asp-validation-for="DESIGNATION" class="text-danger"></span>

                <input asp-for="EMAIL" id="typeUser" class="fadeIn second" name="typeUser" placeholder="email">
                <span asp-validation-for="EMAIL" class="text-danger"></span>

                <input asp-for="PWD" id="email" type="password" class="fadeIn second" name="email" placeholder="password">
                <span asp-validation-for="PWD" class="text-danger"></span>

                <input asp-for="TYPEUTILISATEUR" id="password" class="fadeIn third" name="login" placeholder="Type Utilisateur">
                <span asp-validation-for="TYPEUTILISATEUR" class="text-danger"></span>

                <input type="submit" class="fadeIn fourth" value="Créer User">

            </form>

        </div>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>