@model HeritageProjectGrp6.Models.HERITAGE

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>HERITAGE</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NOMENCLATUREID" class="control-label"></label>
                <select asp-for="NOMENCLATUREID" class ="form-control" asp-items="ViewBag.NOMENCLATUREID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DESCRIPTION" class="control-label"></label>
                <input asp-for="DESCRIPTION" class="form-control" />
                <span asp-validation-for="DESCRIPTION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DATE_DECES" class="control-label"></label>
                <input asp-for="DATE_DECES" class="form-control" />
                <span asp-validation-for="DATE_DECES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DATE_HERITAGE" class="control-label"></label>
                <input asp-for="DATE_HERITAGE" class="form-control" />
                <span asp-validation-for="DATE_HERITAGE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ECOLEID" class="control-label"></label>
                <input asp-for="ECOLEID" class="form-control" />
                <span asp-validation-for="ECOLEID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MONTANT" class="control-label"></label>
                <input asp-for="MONTANT" class="form-control" />
                <span asp-validation-for="MONTANT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
