@model HeritageProjectGrp6.Models.HERITAGE

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/login.css" rel="stylesheet" type="text/css" />
    <script src="~/js/site.js"></script>
</head>
<body style="background-color:cadetblue;">
    
    <div class="row">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <h3>Créer Un Cas d'Héritage</h3>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <label asp-for="DESCRIPTION" class="control-label"></label>
                    <input asp-for="DESCRIPTION" class="form-control" />
                    <span asp-validation-for="DESCRIPTION" class="text-danger"></span>

                    <div class="form-group">
                        <label asp-for="DATE_DECES" class="control-label"></label>
                        <input asp-for="DATE_DECES" class="form-control"  style="width: 380px;margin-left: 35px;margin-right: 50px;"/>
                        <span asp-validation-for="DATE_DECES" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DATE_HERITAGE" class="control-label"></label>
                        <input asp-for="DATE_HERITAGE" class="form-control" style="width: 380px;margin-left: 35px;margin-right: 50px;" />
                        <span asp-validation-for="DATE_HERITAGE" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ECOLEID" class="control-label"></label>
                        <input asp-for="ECOLEID" class="form-control" style="width: 380px;margin-left: 35px;margin-right: 50px;" />
                        <span asp-validation-for="ECOLEID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MONTANT" class="control-label"></label>
                        <input asp-for="MONTANT" class="form-control" />
                        <span asp-validation-for="MONTANT" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Valider" class="btn btn-default" />
                    </div>
                </form>
            </div>
            </div>
        
    </div>


    <div>
        <a asp-action="Index">List</a>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>