@model HeritageProjectGrp6.Models.UTILISATEUR

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/login.css" rel="stylesheet" type="text/css" />
    <script src="~/js/site.js"></script>
</head>
<body  style="background-color:cadetblue;">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img style="width:150px;" src="~/images/login.png" id="icon" alt="User Icon" />
            </div>
            <!-- Login Form   -->
            <form asp-action="Login">
                <input asp-validation-for="EMAIL" type="text" id="login" class="fadeIn second" name="login" placeholder="login">
                <input asp-validation-for="PWD" type="password" id="password" class="fadeIn third" name="login" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Connecter">
            </form>
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a asp-area="" class="underlineHover" asp-controller="UTILISATEURs" asp-action="Create">Créer votre Compte</a>
            </div>
        </div>
    </div>
</body>
</html>




