@model HeritageProjectGrp6.Models.HERITIER

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>HERITIER</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DESCRIPTION" class="control-label"></label>
                <input asp-for="DESCRIPTION" class="form-control" />
                <span asp-validation-for="DESCRIPTION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CODE" class="control-label"></label>
                <input asp-for="CODE" class="form-control" />
                <span asp-validation-for="CODE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ILLLUSTRATION" class="control-label"></label>
                <input asp-for="ILLLUSTRATION" class="form-control" />
                <span asp-validation-for="ILLLUSTRATION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
