
@{
    ViewData["Title"] = "Bibliotheque";
}

<body style="background-color:cadetblue;">
    <div class="jumbotron">
        <h2 style="text-align: center;" class="display-4">Les quatre imams des grandes écoles islamiques</h2>
        <h3 style="text-align: center;">Les quatre doctrines et l'Héritage</h3>
    </div>
    <p>

        1 – L’école Hanafite : fondée par Abû Hanîfa Annu‘mân (80-150 AH), cette école est apparue en Irak, à Kufa et s’est répandue à Bagdad. Elle a adopté les méthodes de son fondateur et celles des maîtres de cette école après lui comme Abû Yûsuf et Abû El Hassan. Ses fondements comprennent, en plus du Coran et de la Sunna, l’istihsân, al ‘urf (la coutume) et qawl as-sahâbî (les paroles des compagnons du Prophète). Cette école est caractérisée surtout par l’utilisation de la raison et de l’opinion : Ar-ra’y. Elle est considérée comme l’école la plus libérale car le contexte de son apparition est lié à une société très complexe avec beaucoup de nouveaux besoins. Elle est répandue de nos jours en Afghanistan, en Inde, en Turquie, en Iran, en Syrie, en Russie et en Chine.
    </p>

    <p>
        2 – l’école Malékite : elle a été fondée par Mâlik Ibn Anas (93-179 A.H) (le Savant de Médine comme l’a prédit le Prophète paix et salut sur lui) . Apparue à Médine, cette école met l’accent sur l’avis des compagnons du prophète et sur la pratique des médinois (‘amal ahl al madîna), ces derniers étant les descendants des compagnons du prophète. Elle donne aussi une place importante aux coutumes de la société s’ils ne contredisent pas la loi divine ainsi qu’à l’établissement des normes juridiques à partir de l’intérêt général de la société, appelé al masâlih al mursala. On reviendra plus loin en détail sur cette école.
        L’imam Mâlik était réputé pour sa narration du Hadîth, il est considéré comme l’un des meilleurs en la matière.
        Les ouvrages de référence de cette école sont, entre autres, le Muwatta’ (la voie rendue aisée) (premier recueil de Hadîth et de Fiqh en Islam) de l’Imâm Mâlik et la Mudawanna, un recueil des avis juridiques de Mâlik qu’a compilé son élève Sahnûn Ibn Saïd At-tanûkhî. La plupart des disciples de l’Imâm Mâlik sont partis en Afrique du nord et en Espagne. Cette école s’est répandue en Andalousie, au Maghreb, en Afrique subsaharienne, aux Emirats,au Koweït, à Bahreïn, au Soudan, et au Khurâsân.
    </p>
    <p>
        3 – l’école Shâfi‘ite : elle a été fondée par Muhammad Ibn Idriss Ash-shâfi‘î (150-204 A.H) qui a vécu à la Mecque, puis en Iraq avant de s’installer en Egypte. Il a apprit le fiqh selon l’école malékite puis plus tard selon l’école Hanafite. Son école s’est positionnée entre l’école hanafite qui prime l’opinion personnelle (ar-ra’y), et l’école malékite qui se base essentiellement sur la sunna. Pour les Shâfi‘ite, la sunna est valorisée comme source de droit et une grande importance est donnée au consensus de toute la communauté (Ijmâ‘). Cette école s’est répandue en Egypte, au Yémen, et dans certains pays de l’Asie comme l’Indonésie, la Malaisie et la Thaïlande.
    </p>
    <p>
        4 – l’école Hanbalite : elle a été fondée par Ahmad Ibn Hanbal (164-241 A.H). Elle est pratiquement née du conflit qui a opposé Ibn Hanbal aux Mu’tazilites (rationalistes hellénisants passablement intolérants) et aux autorités politiques qui soutenaient alors les Mu’tazilites. La réputation d’Ibn Hanbal s’est forgée durant ces événements au cours desquels il fut persécuté et emprisonné sans jamais se renier. L’Imâm Ibn Hanbal est considéré par un grand nombre d’ouléma (savants de la loi) comme un traditionaliste (homme de hadîth) plutôt qu’un juriste. Ibn Hanbal n’était pas d’accord avec son maître Ash-shâfi‘î pour ce qui est de l’utilisation de l’opinion personnelle. Il a primé le hadîth du prophète auquel il a dévoué un recueil appelé « al musnad » et qui comprend environ 40.000 hadîths. Cette école adopte l’interprétation apparente (Zâhir) du Coran et de la sunna et rejette le raisonnement par analogie sauf dans des cas rares.
    </p>


</body>


