@model HeritageProjectGrp6.Models.AYANTDROIT

@{
    ViewData["Title"] = "Create";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/login.css" rel="stylesheet" type="text/css" />
    <script src="~/js/site.js"></script>
</head>
<body style="background-color:cadetblue;">   
  <div class="row">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <h3>Créer Un Ayant Droit</h3>
                <div class="row">
                    
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            
                            
                            <!--
                            <div class="form-group">
                                <input asp-for="IMAGEADR" class="form-control" placeholder="IMAGE" />
                                <span asp-validation-for="IMAGEADR" class="text-danger"></span>
                            </div>
                                -->
                            <div class="form-group">
                                <input asp-for="DESCRIPTION" class="form-control" placeholder="DESCRIPTION"  />
                                <span asp-validation-for="DESCRIPTION" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DATECREATION" class="control-label">DATE CREATION</label>
                                <input asp-for="DATECREATION" class="form-control" style="width: 410px;margin-left: 35px;"  />
                                <span asp-validation-for="DATECREATION" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="TYPEHERITIER" class="form-control" placeholder="TYPE HERITIER"  />
                                <span asp-validation-for="TYPEHERITIER" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="NOM" class="form-control" placeholder="NOM"  />
                                <span asp-validation-for="NOM" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="PRENOM" class="form-control" placeholder="PRENOM" />
                                <span asp-validation-for="PRENOM" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">DATE NAISSANCE</label>
                                <input asp-for="DATENAISSANCE" class="form-control" style="width: 410px;margin-left: 35px;" />
                                <span asp-validation-for="DATENAISSANCE" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="SEXE" class="form-control" placeholder="SEXE" />
                                <span asp-validation-for="SEXE" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Valider" class="btn btn-default" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>

                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }
</body>
</html>